node_modules
frontend/node_modules
vendor
api/vendor
api/.env
dist
.git
*.log
*.sqlite
.env
.env.local
.env.docker.local
.idea
.vscode
.DS_Store
Thumbs.db
api/bootstrap/cache/packages.php
api/bootstrap/cache/services.php
*:Zone.Identifier